# Ignore RStudio development files
.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata

# Ignore built vignettes
inst/doc
doc
Meta

# Ignore extra pkgdown files
*_files

# Ignore data and script files in the top-level directory
/*.loom
/*.h5ad
/*.h5seurat
/*.h5Seurat
/*.r
/*.R
/*.rds
/*.Rds

# ignore test data
examples/
inst/testdata/*.h5ad
inst/testdata/*.h5seurat
inst/testdata/*.h5Seurat

# ignore macos files
.DS_Store

# ignore working index files
FUNCTION_INDEX.md
CLAUDE.md
README.html

# ignore test output files
tests/*.h5seurat
tests/*.pdf
tests/strategy_comparison_output.txt
srtdisk.Rcheck/

# ignore R package build artifacts
*.tar.gz
